.mainContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 10%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  position: relative;
}

.headerQuestion {
  font-weight: 500;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: calc(4 * 240px + 3 * 1.5rem);
  margin: 0 auto;
}

.solutionCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  border-radius: 8px;
  background-color: var(--ds-color-brand2-surface-tinted);
  border-color: var(--ds-color-brand2-border-subtle);
}

.solutionCard:hover {
  background-color: var(--ds-color-brand2-surface-hover);
  border-color: var(--ds-color-brand2-base-default);
  cursor: pointer;
}

[data-color-scheme="dark"] .solutionCard {
  background-color: var(--ds-color-brand3-background-default);
  border-color: var(--ds-color-brand3-border-subtle);
  border-width: 0.1rem;
}

[data-color-scheme="dark"] .solutionCard:hover {
  background-color: var(--ds-color-brand3-surface-default);
  border-color: var(--ds-color-brand3-border-subtle);
}
