.cameraButton {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  height: 70%;
  border: none;
  border-radius: 0;
  display: flex;
  background-color: transparent;
  padding: 0;
  color: var(--ds-color-neutral-text-default);
}
.cameraButton:hover {
  outline: none;
  border: none;
  color: var(--ds-color-neutral-text-subtle);
}
