.mainContainer {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 7;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  gap: 50px;
  align-items: center;
  background-color: var(--ds-color-neutral-background-tinted);
  overflow: hidden;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  align-items: center;
  gap: 20px;
  margin: 30px;
  z-index: 1000;
  margin: 0;
  padding-left: 40px;
  background-color: var(--ds-color-neutral-background-tinted);
}

.logoLink {
  cursor: pointer;
  padding-top: 10px;
}

.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 4rem;
  align-items: center;
  gap: 2rem;
  height: 100%;
  max-width: 70rem;
  width: 90%;
  z-index: 100;
}

.chatContainerCentered {
  margin-top: 10%;
}

.introText {
  font-weight: 500;
}

.sendContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background-color: var(--ds-color-neutral-background-tinted);
  z-index: 100;
  margin: 0;
}

.atBottom {
  position: fixed;
  margin-top: auto;
  align-self: center;
}

.messagesContainer {
  width: 100%;
  margin-bottom: 70px;
}

.previewImage {
  max-width: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.inputWithImage {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.imagePreviewInside {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.imagePreviewAboveInput {
  width: 100px;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--ds-color-warning-base-contrast-default);
}

@media (max-width: 1314px) {
  .sendContainer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 1rem;
    margin-left: 0;
    align-items: center;
  }

  .chatContainer {
    padding: 1rem 0.5rem;
  }

  .sendButton {
    height: 2rem;
  }

  .input {
    padding: 0.75rem;
  }

  .introText {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .logo {
    width: 250px;
    margin-left: 20px;
  }

  .chatContainer {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .introText {
    font-size: 1rem;
    text-align: center;
  }

  .logo {
    width: 160px;
  }

  .headerContainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.5rem;
  }

  .introText {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .chatContainer {
    font-size: small;
    padding-top: 8rem;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 140px;
  }
  .chatContainer {
    font-size: x-small;
  }
}
