.mainContainer {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 7;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  gap: 50px;
  align-items: center;
  background-color: var(--ds-color-neutral-background-tinted);
  overflow: hidden;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  align-items: center;
  gap: 20px;
  margin: 30px;
  z-index: 1000;
  margin: 0;
  padding-left: 40px;
  background-color: var(--ds-color-neutral-background-tinted);
}

.logoLink {
  cursor: pointer;
  padding-top: 10px;
}

.dropdownTrigger {
  color: var(--ds-color-main-text-default);
  margin-top: 30px;
  background-color: transparent;
  border: none;
}

.dropdownTrigger:hover,
.dropdownTrigger:focus,
.dropdownTrigger:active,
.dropdownTrigger:focus-visible {
  background-color: var(--ds-color-neutral-surface-hover);
  border: none;
  outline: none;
}

.dropdownButton {
  border: none;
  outline: none;
}

.dropdownButton:hover {
  border: none;
  background-color: var(--ds-color-neutral-surface-hover);
}

.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  padding-top: 10rem;
  align-items: center;
  gap: 2rem;
  height: 100%;
  max-width: 70rem;
  width: 100%;
  z-index: 100;
}

.chatContainerCentered {
  margin-top: 10%;
}

.introText {
  font-weight: 500;
}

.sendContainer {
  position: sticky;
  bottom: 0;
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: var(--ds-color-neutral-background-tinted);
  z-index: 100;
  margin: 0;
}

.atBottom {
  position: fixed;
  margin-top: auto;
  align-self: center;
}

.messagesContainer {
  width: 80%;
  margin-bottom: 70px;
}

.previewImage {
  max-width: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.inputWithImage {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.imagePreviewInside {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.imagePreviewAboveInput {
  width: 100px;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--ds-color-warning-base-contrast-default);
}

.sendAreaWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.helperText {
  font-size: 0.75rem;
  color: var(--ds-color-neutral-border-default #7c8289);
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-word;
}

/* Media Queries */
@media (max-width: 1024px) {
  .headerContainer {
    margin-left: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .dropdownTrigger {
    margin-top: 0;
  }

  .sendContainer {
    padding: 1rem;
    width: 60%;
  }
}

@media (min-width: 766px) and (max-width: 1314px) {
  .sendContainer {
    bottom: 0;
    width: 85%;
    padding: 0.75rem 1rem;
  }

  .sendAreaWrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .logoLink img {
    max-width: 140px;
    height: auto;
    margin-left: 20px;
  }

  .dropdownTrigger {
    margin-left: 20px;
    margin-top: 0;
    padding-left: 0.2rem;
  }

  .headerIcons {
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }

  .chatContainer {
    padding-top: 9rem;
  }

  .sendContainer {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .dropdownTrigger {
    font-size: 0.9rem;
  }

  .chatStarted .sendContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: var(--ds-color-neutral-background-tinted);
    z-index: 100;
    padding-bottom: 0;
  }

  .introText {
    font-size: 1rem;
    text-align: center;
  }

  .chatContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem;
    min-height: 50vh;
  }

  .logoLink img {
    max-width: 160px;
    height: auto;
    margin-left: 2px;
  }

  .headerContainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.5rem;
    margin-left: 70px;
  }

  .messagesContainer {
    width: 80%;
    margin-bottom: -25px;
  }

  .introText {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .sendContainer {
    bottom: 0;
    padding: 0;
    width: 85%;
  }
}
/* Ekstra små skjermer – 249px og opp */
@media (max-width: 320px) {
  .sendContainer {
    width: 85%;
    padding: 0;
    bottom: 0;
  }

  .sendAreaWrapper {
    flex-direction: column;
    gap: 0.25rem;
  }
}

/* Mobil */
@media (min-width: 321px) and (max-width: 480px) {
  .sendContainer {
    width: 85%;
    padding: 0;
    bottom: 0;
  }
}
